body{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-login{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input{
    display: block;
    position: relative;
    left: 9.5rem;
    width: 30rem;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    background:none;
}

input::placeholder{
    color: white;
}

button{
    width: 30rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    transition: 300ms ;
}

button:hover{
    background-color: #8aff86 ;
}